camelot-py
opencv-python
beautifulsoup4
PyPDF2
sentence_transformers
langchain-community
langchain-huggingface
langchain_core
faiss-gpu
transformers
bitsandbytes
torch
pandas
accelerate>=0.26.0
pymupdf
langchain_cohere